dialog {
    top: 50%;
    left: 50%;

    display: flex;
    width: 20%;
    min-height: 300px;
    padding: 10px 10px 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border: 0;
    background-color: rgb(228, 241, 245);

    transform: translate(-50%, -50%);
}

.change-summ::backdrop {
    display: grid;
    place-items: center;

    background: rgba(0, 0, 0, 0.3);
}

.dialog__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    flex-grow: 1;
}

.dialog__form__wr-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.dialog__label {
    display: flex;
    flex-direction: column;
}

.dialog__input-text {
    width: 100%;

    border: 0;
    outline: 0;
    background-color: transparent;
    border-bottom: 1px solid black;
}

.dialog__wr-button {
    display: flex;
    justify-content: center;
    margin-top: 3px;
}

.dialog__button {
    padding: 3px 5px;

    background-color: transparent;
    border: 0;
    outline: 0;

    cursor: pointer;
}